body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#close, #burger, .material-icons{

  cursor: pointer;

}
  
#burger{

display: flex;
align-content: center;
justify-content: baseline;
align-self: center;
font-size: 2rem;
margin-top: 1rem;

}

#btn-label{

padding-top: .4rem;

}

#emoji{

font-size: 1.5rem;
}

.act{

display: flex;
justify-content: space-around;
}

.icon{

padding: 1rem 0 0 1rem;
}


.header{

  text-align: center;

}

#toast-container{
  margin-top: 2rem;

display: flex!important;
justify-content: center!important;
align-content: center!important;
align-items: center!important;
width: 100%!important; 
flex-grow: initial!important;
flex-direction: column-reverse!important;
}

.customToast{

  border: 1px solid gray;

  width: 40%!important;
  text-align: center;
 

}

.completed{

  opacity: .5;
  font-style: italic;

}